<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/succes.css">
  <link rel="stylesheet" href="./css/header.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <title>Success</title>
</head>
<body>
   <header class="header" id="navigation-menu">
    <div class="container">
      <nav>
        <a href="/homepage" class="logo"> <img src="./img/logo.png" alt=""> </a>

        <ul class="nav-menu">
          <li> <a href="/homepage" class="nav-link">Home</a> </li>
          <li class="dropdown"><a href="/category">Category</a>
            <ul class="isi-dropdown">
              <li><a href="/rooms" class="nav-link">Rooms</a></li>
              <li><a href="/gallery" class="nav-link">Gallery</a></li>
            </ul>
          </li>
          <li> <a href="/facilities" class="nav-link">Facilities</a> </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="namapage">
      <p  onclick="kembali()" class="fas fa-arrow-alt-circle-left"> Kembali</p> 
        <script>
            function kembali() {
                window.history.back();
            }
        </script>
  </div>
  <div class="lesson-wrapper">
      <div class="container">
        <div class="heading">
          <h1>Abeka Hotel's</h1>
        </div>
        
    <div class="mainscreen">
      <div class="card"> 
        <div class="success" id="payment">
           <% booking.forEach((bookings,index) =>{%>
          <form action="">
            <h1>Payment Sucessfull</h1>
            <p>First Name</p>
            <p  class="isibooking"><%= bookings.nama_booking%></p>
            <p>Address</p>
            <p  class="isibooking"><%= bookings.alamat_booking%></p>
            <p>Email Address</p>
            <p  class="isibooking"><%= bookings.email_booking%></p>
            <p>Phone Number</p>
            <p  class="isibooking"><%= bookings.notelp_booking%></p>
            <p>Jumlah Hari Menginap</p>
            <p  class="isibooking"><%= bookings.jumlah_hari%></p>
            <p>Bukti Pembayaran</p>
            <p  class="isibooking"> == GAMBAR BUKTI PEMBAYARAN</p>
            <p></p>
          </form>
          <% })%>
        </div>
      </div>
      <button class="button" onclick="succes()">Selesai</button>
          <script> 
            function succes() { 
            swal("Pembayaran Berhasil", "Terimakasih Telah Menginap di Abeka Hotel", "success"); 
            } 
          </script>
          <input type="button" value="Cetak Tiket Booking" class="button print"
               onclick="window.print()" />
      </div>
      
         
   
</body>
</html>
